.message {
  border-style: solid;
  border-width: 3px;
  border-radius: 20px;
  background-color: gray;
  font-size: 1.5rem;
  padding: 16px;
  margin-bottom: 16px;
}

.error {
  border-color: red;
  color: red;
}

.success {
  border-color: green;
  color: green;
}

.blog {
  padding-top: 10px;
  padding-left: 2px;
  border: solid;
  border-width: 1px;
  margin-bottom: 5px;
}

.navbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: lightblue;
}

nav > a {
  margin-right: 1rem;
}
